h3 {
  background-color: rgb(215, 211, 211);
}

body{
  background-color: beige;
}

/*ai */

main {
  background-color: rgb(136, 136, 136);
  margin: 0 auto;
  max-width: 80%;
}

div {
  background-color: rgb(163, 163, 163);
}

h3 {
  color: rgb(169, 169, 169);
}

h1 {
  color: rgb(164, 164, 164);
}